---
import { Icon } from "astro-icon";

interface Props {
  title: string;
  date: string;
  tags: string;
  readTime: string;
}

const { title, date, tags, readTime } = Astro.props;

const fullDate = date.toLocaleDateString("es", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<li class="flex items-center justify-start gap-x-6 py-6">
  <Icon name={tags} class="w-14 h-14 rounded-full" />
  <div class="flex flex-col items-start justify-between gap-2 max-w-2xl">
    <h2 class="text-3xl font-extrabold leading-snug">{title}</h2>
    <div class="flex items-center justify-center gap-x-1 px-2">
      <p class="text-xs font-medium text-midu-50/60">{fullDate} </p>
      <p class="text-xs font-medium text-midu-50/60">- {readTime}</p>
    </div>
  </div>
</li>
