---
import fetchInstagramClips  from '@services/instascraper';

const reels = await fetchInstagramClips();
const instaURL = "https://www.instagram.com/reel/";
---

{
  reels.items.map((reel) => {
    return (
        <a href={`${instaURL}${reel.media.code}`}>
          <img crossorigin="anonymous" src={reel.media.image_versions2.additional_candidates.igtv_first_frame.url} class="aspect-video" /> 
        </a>

    )
  })
}