---
import footerLinks from "@data/footerlinks.json";
---

{
  footerLinks.footer.map((categoria) => (
    <div class='flex flex-col items-start justify-start w-fit gap-1'>
      <h3 class='font-bold text-sm pb-1'>{categoria.title}</h3>
      {categoria.items.map((item) => (
        <a href={item.url} class="text-sm text-gray-500 hover:text-gray-700">
          {item.name}
        </a>
      ))}
    </div>
  ))
}
