---
import FetchLatestVideos from "@components/FetchLatestVideos.astro";
---

<section
  class="flex flex-col items-center justify-center h-[calc(100vh-4rem)] gap-y-6"
>
  <h2 class="text-4xl font-extrabold text-midu-100">
    Repasa las últimas clases
  </h2>
  <p class="text-sm [text-wrap:balance] max-w-lg text-center 2xl:text-lg">
    ¿No estuviste en vivo? Encuentra las clases en:
    <span class="font-bold">youtube.com/@midulive</span>
  </p>
  <div class="grid grid-cols-3 max-w-4xl gap-x-3">
    <FetchLatestVideos />
  </div>
  <a href="#" class="font-bold text-midu-50">Ver clases en Youtube →</a>
</section>
