---
import FetchLatestReels from "@components/FetchLatestReels.astro"
---

<section class="">
  <div class="">
    <div class="">
      <h3 class="">Sígueme en mis otras redes sociales</h3>
      <p class="">
        Encuentra retos, tips y recursos para seguir creciendo profesionalmente.
      </p>
      <ul class="">
        <li class="">Youtube/@midudev</li>
        <li class="">Instagram/midu.dev</li>
        <li class="">Tiktok/midudev</li>
        <li class="">Twitter/midudev</li>
      </ul>
    </div>
    <FetchLatestReels />
  </div>
</section>
