---
import Buttons from "@components/Buttons.astro";
---

<Buttons
  ButtonUrl="#"
  ButtonClass="bg-midu-purple-950 backdrop-blur-sm max-w-xs rounded-full ring-2 ring-midu-purple-600 pointer-events-none"
>
  <span class="">Falta 4 días para el próximo directo</span>
</Buttons>
