---
import Buttons from "@components/Buttons.astro";
---

<Buttons ButtonUrl="#" ButtonClass="bg-midu-purple-950/50 backdrop-blur-sm max-w-xs rounded-3xl ring-2 ring-midu-purple pointer-events-none">
  <span class="">Falta 4 días para el próximo directo</span>
</Buttons>
