---
import { Icon } from "astro-icon";

interface Props {
  title: string;
  date: string;
  url: string;
  tags: string;
}

const { title, date, url, tags } = Astro.props;

const fullDate = date.toLocaleDateString('es', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})
---

<li class="flex items-center justify-start max-w-lg">
  <a href={url} class="flex items-center justify-center gap-4">
    <Icon name={tags} class="w-14 h-14 rounded-full" />
    <div class="flex flex-col items-start justify-between gap-3 max-w-sm">
      <h2 class="text-lg font-extrabold">{title}</h2>
      <p class="text-xs font-medium text-midu-50/60">{fullDate}</p>
    </div>
  </a>
</li>
