---
import Courses from "@components/Courses.astro";
---

<section class="flex items-center justify-center">
  <div class="flex flex-col items-start justify-center gap-3">
    <h2 class="text-4xl font-extrabold text-midu-100">
      Recursos de Desarrollo
    </h2>
    <p class="">Profundiza en el desarrollo web con los siguientes recursos:</p>
    <div class="">
      <Courses />
    </div>
  </div>
</section>
