---
---

<div class="col-span-3 flex flex-col items-start justify-center gap-y-4">
  <h3 class="text-xl text-midu-400 font-bold">Suscríbete a Noticias.dev</h3>
  <p class="text-sm max-w-md [text-wrap:balance]">
    Las mejores noticias y recursos en programación web. La newsletter para
    programadores y desarrolladores web.
  </p>
  <form class="flex items-center gap-x-2 w-full max-w-md">
    <input
      type="email"
      class="bg-midu-500/5 placeholder:text-sm placeholder:text-midu-500 ring-2 ring-midu-500 rounded-lg px-2 py-1 w-full"
      placeholder="Escribe tu correo electrónico"
    />
    <button type="submit" class="bg-midu-400 text-midu-50 font-bold px-2 py-2 rounded-lg text-sm">Suscribirse</button>
  </form>
</div>
