---
---

<div class="col-span-3 flex flex-col items-start justify-start gap-y-4">
  <h3
    class="text-2xl text-midu-50 font-bold [text-wrap:balance] max-w-sm 2xl:text-3xl"
  >
    Las últimas noticias y mejores recursos de la web en un solo sitio.
  </h3>

  <a
    href="https://www.noticias.dev/"
    target="_blank"
    rel="noreferrer"
    class="bg-midu-400 text-midu-50 font-bold px-8 py-3 rounded-xl text-sm 2xl:text-xl"
  >
    ↗︎ Conoce noticias.dev</a
  >
</div>
