---
---

<div class="col-span-3 flex flex-col items-start justify-center gap-y-4">
  <h3 class="text-2xl text-midu-50 font-bold [text-wrap:balance] max-w-sm">
    Las últimas noticias y mejores recursos de la web en un solo sitio.
  </h3>

  <a
    href="https://www.noticias.dev/"
    target="_blank"
    rel="noreferrer"
    class="bg-midu-400 text-midu-50 font-bold px-6 py-2 rounded-lg text-sm"
    >Conoce Noticias.dev</a
  >
</div>
