---
import Layout from "@layout/Layout.astro";
import TableOfContents from "@components/TableOfContents.astro";

interface Props {
  title: string;
  description: string;
  url: string;
  tags: string;
}

const { title, description, url } = Astro.props;
---

<Layout {title} {description} {url}>
  <main class="flex items-center justify-center mx-auto">
    <article
      class="grid grid-cols-4 max-w-6xl prose-sm md:prose-md lg:prose-lg prose-headings:font-extrabold"
    >
      <slot />
    </article>
  </main>
</Layout>
