---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
  description: string;
  ogImage?: {
    src: string;
    alt: string;
  };
}

const {
  title,
  description,
  ogImage = {
    src: "https://midu.dev/og-image.png",
    alt: "Midudev",
  },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head {title} {description} {ogImage} />
  <body class="bg-midu-700 text-midu-50 font-midufont 2xl:max-w-8xl mx-auto">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
